@media (max-width: 1700px) {
  .testimonials__slider {
    .swiper-slide-active {
      box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
      border: 2px solid #ffffff;
      opacity: 100%;
    }

    .swiper-slide-prev {
      opacity: 30%;
      box-shadow: none;
      border: 2px solid #eeeeee;
    }
  }
}

@media (max-width: 1530px) {
  .news__meta-item {
    margin-right: auto;
  }

  .news__meta-items {
    justify-content: space-between;
  }
}

@media (max-width: 1399px) {
  .news__slider {
    padding: 0 200px 30px;
  }
}

@media (max-width: 1200px) {
  .promo__wrapper::before {
    content: none;
  }

  .news__slider {
    padding: 0 150px 30px;
  }
}

@media (max-width: 1024px) {
  .features__item-wrapper {
    &:hover {
      .features__item-back {
        display: none;
      }
      .features__item-front {
        transform: none;
      }
    }
  }

  .features__item {
    &:hover {
      box-shadow: none;
    }
  }

  .services__item {
    &:hover {
      box-shadow: none;
    }
  }

  .seo__item {
    &:hover {
      box-shadow: none;
    }
  }

  .plans__item {
    &:hover {
      box-shadow: none;
      transform: none;
      .plans__item-wrapper {
        transform: none;
      }
      .plans__item-title {
        color: #000000;
      }
      .btn--big {
        background-color: rgba(242, 88, 34, 0.25);
        color: #f3602d;
      }
    }
  }

  .team__item {
    &:hover {
      box-shadow: none;
      border: 1px solid #eeeeee;
      .team__item-name {
        color: #000000;
      }
    }
  }

  .testimonials__slider {
    padding: 0 30px 30px;
  }

  .news__slider {
    padding: 0 30px 30px;
  }
}

@media (max-width: 950px) {
  .promo__title {
    font-size: 45px;
    span::after {
      content: none;
    }
  }

  .title {
    font-size: 35px;
  }

  .features__items {
    flex-wrap: wrap;
    max-width: 740px;
    margin: 0 auto;
    justify-content: flex-start;
  }

  .partners {
    padding: 75px 0;
  }

  .services__item {
    animation: none;
  }

  .seo__img {
    width: 80%;
  }
}

@media (max-width: 800px) {
  section,
  .partners {
    padding: 50px 0 !important;
  }

  .features__items {
    flex-direction: column;
    align-items: center;
  }

  .solution__wrapper {
    flex-direction: column;
  }

  .seo__img {
    display: none;
  }

  .content__wrapper {
    flex-direction: column;
    align-items: center;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    padding: 7px 0;
    z-index: 1;
  }
  .header__wrapper {
    position: relative;
  }

  .burger {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 24px;
    display: block;
    transform: translateY(-50%);
    z-index: 51;
    cursor: pointer;
    div {
      width: 100%;
      height: 3px;
      background: #111;
      margin: 4px 0;
      border-radius: 2px;
      transition: 0.6s;
    }
    &--active {
      div {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
    }
  }

  .menu-overlay {
    background: rgba($color: #000000, $alpha: 0.6);
    height: 100vh;
    width: 40%;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 50;
    transition: 0.8s;
    &--active {
      left: 0;
    }
  }

  .menu {
    background: #cccccc;
    width: 60%;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    z-index: 50;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    transition: 0.8s;
    &--active {
      right: 0;
    }
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .menu__link {
    font-size: 22px;
  }

  .promo {
    margin-top: 65px;
  }

  .solution {
    padding: 50px 0 0 !important;
  }

  .solution__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .btn {
      align-self: flex-end;
    }
  }

  .funfuct {
    padding: 20px 0 40px;
  }

  .funfuct__item-numder {
    font-size: 54px;
  }

  .funfuct__item-descr {
    font-size: 15px;
  }

  .funfuct__item {
    &::after {
      width: 12px;
      height: 12px;
    }
  }
  .news__content-title {
    font-size: 20px;
  }

  .news__content-descr {
    font-size: 13px;
  }

  .news__content {
    padding: 30px 15px 25px;
  }

  .news__item-img {
    max-width: 270px;
    width: 100%;
  }

  .speed__form input {
    width: 180px;
  }

  .footer__items {
    grid-template-columns: 1fr 1fr;
  }

  .footer__item {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 2;
    }
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
    text-align: left;
  }

  .description {
    text-align: left;
  }
  .promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .btn {
      order: 1;
      margin-top: 20px;
    }
  }

  .btn-video {
    margin: 13px 6px 0 0;
  }

  .promo__img {
    display: none;
  }

  .promo__title {
    font-size: 33px;
  }

  .promo__descr {
    font-size: 16px;
    margin: 30px 0 40px;
  }

  .partners__items-img {
    width: 30%;
  }

  .partners__items {
    gap: 12px;
  }

  .services__item-img {
    height: 200px;
  }

  .seo__item {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-top: 20px;
  }

  .seo__item-content {
    margin-left: 0;
    margin-top: 20px;
  }

  .funfuct__items {
    row-gap: 40px;
    padding: 12px;
  }

  .funfuct__item {
    width: 50%;
    &::after {
      content: none;
    }
  }

  .funfuct__item-numder {
    line-height: 1.2;
  }

  .speed__form input {
    width: 145px;
  }

  .speed__img {
    display: none;
  }

  .plans__item {
    padding: 45px 15px;
  }

  .news__item-img {
    display: none;
  }
}

@media (max-width: 500px) {
  button {
    margin-left: 0;
    margin-top: 20px;
  }

  .speed__form {
    text-align: right;
  }

  .footer__list {
    font-size: 14px;
  }

  .footer__items {
    gap: 15px;
  }

  .footer__description {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .footer__items {
    grid-template-columns: 1fr;
  }

  .funfuct__item-numder {
    font-size: 45px;
  }
  .funfuct__item-descr {
    font-size: 14px;
  }
}
