.funfuct {
  padding: 100px 0 42px;
}

.funfuct__items {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid #eeeeee;
  padding: 43px 10px 42px;
}

.funfuct__item {
  width: 25%;
  position: relative;

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    background: #f3602d;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
  }
  &:nth-child(3n + 1)::after {
    background: #f3602d;
  }
  &:nth-child(3n + 2)::after {
    background: #149211;
  }
  &:nth-child(3n + 3)::after {
    background: #ffc700;
  }
  &:nth-child(3n + 4)::after {
    content: none;
  }
  &:last-child::after {
    content: none;
  }
}

.funfuct__item-numder {
  font-family: Gilroy-Bold;
  font-size: 70px;
  color: #666666;
}

.funfuct__item-descr {
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  color: #666666;
}
