.solution {
  background: #fafafa url(../img/solution/element.svg) center center/cover
    no-repeat;
}

.solution__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solution__content {
  max-width: 515px;
  width: 100%;
  padding: 30px 0;
}

.solution__img {
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}
