.speed {
  padding: 192px 0 170px;
  overflow: hidden;
}

.speed__content {
  max-width: 570px;
}

.speed__img {
  position: absolute;
  right: -155px;
  transform: translateY(-50%);
  top: 50%;
  width: 66%;
  z-index: -1;
  overflow: hidden;
}

.speed__form {
  input {
    display: inline-block;
    width: 200px;
    height: 50px;
    background: #eeeeee;
    border: none;
    outline: none;
    padding: 0 20px;
    color: #333;
    font-size: 13px;
    &::placeholder {
      color: #666;
      font-size: 11px;
    }
    &:first-child {
      border-right: 2px solid #ccc;
      margin-right: -4px;
      border-radius: 50px 0 0 50px;
    }
    &:nth-child(2) {
      border-radius: 0 50px 50px 0;
    }
  }
}

textarea {
  resize: none;
}

.form-list {
  list-style: none;
}

button {
  border: none;
  margin-left: 26px;
  width: 140px;
}

.speed__description {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  color: #666666;
  margin: 15px 0 55px;
}
